
# This is the configuration for vhost-indexer. The following evironment
# variables can be placed in any .htaccess file
# ----------------------------------------------------------------------------

#SetEnv VHOSTINDEXER_VHOST_CONFIG '/etc/httpd/conf.d/vhost.conf'

#SetEnv VHOSTINDEXER_TITLE 'Virtual hosts on this server'

#SetEnv VHOSTINDEXER_HEADER_CONTENT ''

#SetEnv VHOSTINDEXER_PRE_CONTENT '<p>These are the web servers that are hosted on this web server.</p>'

#SetEnv VHOSTINDEXER_POST_CONTENT ''

#SetEnv VHOSTINDEXER_FOOTER_CONTENT ''

#SetEnv VHOSTINDEXER_CSS_FILE 'style.css'